@use 'sass:color';
@use 'src/shared/colors';
@use 'src/shared/fonts';

$mq-mobile-portrait: 320px !default;
$mq-mobile-landscape: 480px !default;
$mq-tablet-portrait: 768px !default;
$mq-tablet-landscape: 1024px !default;
$mq-desktop: 1382px !default;

// Everything larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
  @media only screen and (max-width: $mq-tablet-portrait) and (max-height: $mq-mobile-portrait) {
    @content;
  }
}

.app {
  text-align: center;
  background-color: colors.$background;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.header {
  flex: 0 1 auto;
  padding-top: 1rem;
}

.cardsAndButtonContainer {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  @include mobile-landscape-only {
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: center;
  }
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.generateButtonContainer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 4px;
}

h1 {
  color: colors.$header-text;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: calc(1.5rem + 3vmin);
  margin: 0;
}

.cardsContainer {
  flex: 1 0 auto;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.generateButton {
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  font-size: calc(1rem + 1vmin);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  position: relative;
  background-color: #008888;
  border: none;
  border-radius: 8px;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
  user-select: none;
  &:focus {
    outline: none;
  }
}

.generateButtonInner {
  touch-action: manipulation;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  background-color: #00a7a7;
  border: 4px solid #00a7a7;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  transform: translateY(-6px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.1s ease, border-color 0.1s ease;
  &:hover {
    background-color: #00adad;
    border-color: #00adad;
  }
  &:active {
    transform: translateY(0);
    transition: transform 0.1s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
